@{
    ViewBag.Title = "تماس با ما";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    آدرس :<br />
    تهران- خیابان آزادی<br />
    <abbr title="Phone">ایمیل:</abbr><br />
   Atiyeh.mazhari@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>