@{
    ViewBag.Title = "صفحه نخست";
}

<div class="jumbotron">
    <h1>گروه نرم افزاری آفاق</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-success">اطلاعات بیشتر &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>شروع</h2>
        <p>
            <h4 style="color:red;">ASP.NET MVC</h4> 
            یک الگوی سریع - توسعه پذیر و قدرتمند جهت ساخت وبسایت های پویا بوده و امکان هرگونه کنترل و مدیریت را به شما میدهند
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>داکیومنتیشن</h2>
        <p>نوگت ابزاری رایگان جهت افزودن حذف و بروزرسانی کتابخانه های مفید در ویژوال استودیو</p>
        <p><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301866">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>سطح پیشرفته</h2>
        <p>پیاده سازی قدرتمند در هر ابعاد و با هر تفکر</p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301867">اطلاعات بیشتر &raquo;</a></p>
    </div>
</div>